html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

:root{
    --orca-blue: #002B44;
    --our-light-blue: #1CA1ED;
    --our-light-blue: rgb(221,238,247);
    --our-red: #ED343B;
    --our-yellow:#D9D641;
    --our-dark-yellow: #A19E0B;
    --container-height: calc(100vh - 150px);
}

/* 1. Header */

#header {
    position: fixed;
    background-color: var(--orca-blue);
    max-height: 70px;
    width: 100%;
    top: 0px;
    z-index: 5;
}

.title-div {
    margin: 1vh 3vw 1vh;
    font-weight: bold;
    color: var(--our-red);
    z-index: 6;
}

.title-header {
    font-size: 2.5rem;
    z-index: 6;
}

.title-footer {
    font-size: 1rem;
    margin-top: 3vh;
}

.header-icon {
    margin-top: 0.5vh;
    width: 40px;
    height: 40px;
    z-index: 6;
}

.header-icon-2 {
    margin-top: 0.8vh;
    width: 35px;
    height: 35px;
    z-index: 6;
}

.pdf-save {
    text-align: center;
    position: absolute;
    top: 0.8vh;
    right: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--our-yellow);
    z-index: 7;
    transform: all 0.3s;
}

.pdf-save:hover {
    transform: scale(1.05);
}

.pdf-save:hover > .pdf-menu {
    height: 40vh;
    border: solid 0.4px black;
}


.upload-button {
    text-align: center;
    position: absolute;
    top: 0.8vh;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--our-red);
    z-index: 7;
    transform: all 0.3s;
}

.upload-button:hover {
    transform: scale(1.05);
}

.upload-button:hover > .upload-menu {
    height: 40vh;
    border: solid 0.4px black;
}

.dropdown {
    position: absolute;
    top: 53px;
    left: -18vw;
    width: 20vw;
    min-width: 200px;
    background-color: var(--orca-blue);
    z-index: 7;
    opacity: 1;
}

.pdf-menu {
    height: 0;
    overflow: hidden;
}

.upload-menu {
    height: 0;
    overflow: hidden;
}

/* 2. Aufklapp-Menue links */

.main {
    position: absolute;
    display: flex;
    top: 73px;
    bottom: 80px;
    left: 0px;
    min-width: 100%;
    height: var(--container-height);
    z-index: 0;
}

#menu-container {
    /*display: inline-block;*/
    left: 0px;
    background-color: var(--our-light-blue);
    /*overflow: hidden;*/
    min-width: 42px;
    max-width: 30vw;
    height: --container-height;
    text-align: right;
}

input {
    display: none;
}

#menu-container #menuToggle:checked ~ label span:last-child{
    display: none;
}
#menu-container #menuToggle:not(:checked) ~ label span:first-child{
   display: none;
}

#menu-container #menuToggle:checked ~ .menu {
    width: 0px;
    overflow: hidden;
}

#menu-container #menuToggle:checked ~ .menu label {
    width: 0;
}

#menu-container #menuToggle:checked ~ .menu .pictureSelection {
    width: 0;
}

#menuToggleLabel {
    display: inline-block;
    position: relative;
    top: 0px;
    right: 3px;
    user-select: none;
    width: 41px;
    height: 41px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
    color: var(--orca-blue);
    cursor: pointer;
}

.menu {
    text-align: left;
    position: relative;
    display: block;
    width: 30vw;   
    margin-left: 1vw;
    margin-right: 1vw;
    transition: width 0.3s;
}

.menu label {
    display: inline-block;
    padding: 1vh 1vw 1vh 2vw;
    font-size: 1.5rem;
    color: white;
    background-color: #002B44; 
    cursor:pointer;
    width: 19vw;
    margin-right: 2vw;
    user-select:none;
    transition: all 0.3s;
}

.pictureSelection {
    display: block;
    width: 20vw;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 1vh;
    background-color: white;
    transition: all 0.3s;
}

.open-symbol {
    display: block;
    float: right;
    transition: all 0.3s;
}

.pad{
    display: inline-block;
    width: 1rem;
}

#menu2Toggle:checked ~ label #open-symbol-2 {
    transform: rotate(-90deg);
}

#menu3Toggle:checked ~ label #open-symbol-3 {
    transform: rotate(-90deg);
}

#menu4Toggle:checked ~ label #open-symbol-4 {
    transform: rotate(-90deg);
}

#menu5Toggle:checked ~ label #open-symbol-5 {
    transform: rotate(-90deg);
}

#menu6Toggle:checked ~ label #open-symbol-6 {
    transform: rotate(-90deg);
}

#menu2Toggle:checked ~ .backgrounds {
    max-height: 34vh;
    padding: 1vh 0vw 1vh 2vw;
}

#menu2Toggle:not(:checked) ~ .backgrounds {
    max-height: 0px;
}

#menu3Toggle:checked ~ .figures {
    max-height: 34vh;
    padding: 1vh 0vw 1vh 2vw;
}

#menu3Toggle:not(:checked) ~ .figures {
    max-height: 0px;
}

#menu4Toggle:checked ~ .objects {
    max-height: 34vh;
    padding: 1vh 0vw 1vh 2vw;
}

#menu4Toggle:not(:checked) ~ .objects {
    max-height: 0px;
}

#menu5Toggle:checked ~ .interaction {
    max-height: 34vh;
    padding: 1vh 0vw 1vh 2vw;
}

#menu5Toggle:not(:checked) ~ .interaction {
    max-height: 0px;
}

#menu6Toggle:checked ~ .prefab {
    max-height: 34vh;
    padding: 1vh 0vw 1vh 2vw;
}

#menu6Toggle:not(:checked) ~ .prefab {
    max-height: 0px;
}

/* Timeline mit Thumbnails */

.workspace-wrap {
    position: relative;
    height: var(--container-height);
    width: 100%;
    margin-left: 10px;
    z-index: 0;
}

.timeline {
    position: relative;
    right: 0px;
    top: 0px;
    height: 80px;
    width: 100%;
    background: var(--our-light-blue);
    margin-bottom: 5px;
    z-index: 1;
}

.thumbnail {
    max-height: 70px;
    margin: 5px;
    width: auto;
}

.work-area {
    position: relative;
    height: calc(var(--container-height) - 85px);
    text-align: center;
    margin-bottom: 10px;
    background: rgb(221, 221, 221);
    z-index: 2;
}

/* Canvas */

.mock-canvas {
    position: relative;
    margin: auto;
    height: auto;
    max-height: calc(var(--container-height) - 85px);
    width: 100%;
    max-width: calc(calc(var(--container-height) - 85px) * 2);
}

#footer {
    background-color: #002B44;
    min-height: 70px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

